@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
  margin: 0;
  padding: 0;
}